body {
  background-color: rgb(29, 30, 43);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  align-items: center;
  box-shadow: 0px 0px 15px black;
  background-color: rgb(45, 47, 66);
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 0px auto;
  padding: 50px;
  width: 550px;
}

#header {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 30px;
}

#spanColor {
  color: rgb(74, 219, 159);
}

#callToAction {
  color: rgb(179, 179, 179);
  margin: 0px 0px 50px 0px;
}

#generateBtn {
  align-items: center;
  background-color: rgb(47, 136, 99);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  margin: 0px auto 40px auto;
  padding: 10px 20px;
  cursor: pointer;
}

#wrapper {
  align-items: center;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: fit-content;
}

#footerBox1 {
  color: aqua;
  font-size: 8px;
  align-items: center;
  border-radius: 7.5px;
  background-color: rgb(29, 30, 43);
  margin: 40px 25px;
  padding: 0px 50px;
}
