* {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 23, 43);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    align-items: center;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
}

#topContainer {
    align-items: center;
    background-color: rgb(62, 62, 122);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px 20px;
}

#userInput {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    outline: none;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

#convertBtn {
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px black;
    color: rgb(62, 62, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 25px;
    padding: 12px 35px;
    cursor: pointer;
}

#bottomContainer {
    color: rgb(62, 62, 122);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    min-height: 310px;
    text-align: center;
    overflow-wrap: anywhere;
}

.bottomH3 {
    margin: 20px 0 5px 0;
}

#bottomContainer p {
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 1.5;

}

